body{
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pass{
    margin-top: 10px;
}
.user , .pass{
    outline: 0;border-width: 0 0 2px;
    width: 300px;
}
.testt {
    text-align: center;
    margin-top: 25px;

}
.button{
    background-color: #00f;
    color: white;
    margin-top: 20px;
    width: 150px;
}
.button:hover{
    background-color: rgba(0, 0, 128, 0.9);
    color: white;
    margin-top: 20px;
}
.button1{
    background-color: green;
    color: white;
    margin-top: 20px;
    width: 250px;
}
.button1:hover{
    background-color: rgba(0, 128, 0, 0.9);
    color: white;
    margin-top: 20px;
}
.forgot{
    color: #00f;
    margin-top: 10px;
}
a:hover
{
    color: red;

}
.links{
    display: inline;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 50px; 
    font-size: .75em;
}

ul li{ display: inline;
   list-style-position: inside; 

}
 .hr{
    display:inline-flex
    
}